body{
    background: hsl(230, 17%, 14%);

}
.texto h1 {
    color: rgb(244, 243, 245);
    font-size:30px;
     font-family: "Garamond";
     font-weight:100px;
     padding-left:165px;
}

.texto p {
    color: rgb(249, 243, 250);   
    font-family: "Garamond";
    font-size:12px;
    font-weight: 50px;
    padding-left:165px;
    margin-top:-20px;
 
}
.texto h2{
    color: rgb(244, 243, 245);
    font-size:12px;
    font-family: "Garamond";
    font-weight: 20;
    margin-top:-35px;
    padding-left:950px;
}

.padre {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top:50px;
    padding-left:60px;
    margin-right: 100px;
    margin-left: 100px;
}
    
.child1{
    background-color:hsl(228, 28%, 20%);
    width:220px;
    height:180px;
    border-radius: 4px;
    border-top: 5px solid #2f67c9 ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.child2{
    background-color:hsl(228, 28%, 20%);
    width:220px;
    height:180px;
    border-radius: 4px;
    border-top: 5px solid #96c92f ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.child3{
    background-color:hsl(228, 28%, 20%);
    width:220px;
    height:180px;
    border-radius: 4px;
    border-top: 5px solid #aa2fc9 ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.child4{
    background-color:hsl(228, 28%, 20%);
    width:220px;
    height:180px;
    border-radius: 4px;
    border-top: 5px solid #f30e0e ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.child1 h1{
    color: white;
    font-size:8px;
    font-family: Arial;
    margin-top:25px;
    padding-left:100px;
}
.child1 p{
    color: white;
    font-size:50px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:55px;
    margin-top:20px;
}
.child1 h2{
    color: rgb(18, 155, 114);
    font-size:10px;
    padding-left: 100px;
    margin-top:30px;
    font-family: Arial;

}

.child1 h3{
    color: white;
    font-size:8px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:100px;
    margin-top:-50px;

}


.tarjeta {
    display: flex;
    flex-direction:start;
    margin-top:-160px;
    padding-left:75px;
    width:20px;
    height: 20px;
}
.card1{
    margin-top:-38px;
    padding-left:90px;

   

}
.child2 h1 {
    color: white;
    font-size:8px;
    font-family: Arial;
    margin-top:25px;
    padding-left:100px;
}
.child2 p{
    color: white;
    font-size:50px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:55px;
    margin-top:20px;
}
.child2 h2{
    color: rgb(18, 155, 114);
    font-size:10px;
    padding-left: 100px;
    margin-top:30px;
    font-family: Arial;

}

.child2 h3{
    color: white;
    font-size:8px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:100px;
    margin-top:-50px;

}

.child3 h1{
    color: white;
    font-size:8px;
    font-family: Arial;
    margin-top:25px;
    padding-left:100px;
}
.child3 p{
    color: white;
    font-size:50px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:55px;
    margin-top:20px;
}
.child3 h2{
    color: rgb(18, 155, 114);
    font-size:10px;
    padding-left: 100px;
    margin-top:30px;
    font-family: Arial;

}

.child3 h3{
    color: white;
    font-size:8px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:100px;
    margin-top:-50px;

}
.child4 h1{
    color: white;
    font-size:8px;
    font-family: Arial;
    margin-top:25px;
    padding-left:100px;
}
.child4 p{
    color: white;
    font-size:50px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:55px;
    margin-top:20px;
}
.child4 h2{
    color: rgb(18, 155, 114);
    font-size:10px;
    padding-left: 100px;
    margin-top:30px;
    font-family: Arial;

}

.child4 h3{
    color: white;
    font-size:8px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:100px;
    margin-top:-50px;

}

.card2 {
    display: flex;
    flex-direction:start;
    margin-top:-160px;
    padding-left:75px;
    width:20px;
    height: 20px;
}
.tarjet1{
    display: flex;
    flex-direction:end;
    margin-top:-25px;
    padding-left:90px;
    width:5px;
    height:5px;
}
.tarjet2{
    display: flex;
    flex-direction:start;
    margin-top:-25px;
    padding-left:90px;
    width:5px;
    height:5px;
}
.ficha1{
    margin-top:-160px;
    padding-left:80px;
}
.ficha2{
    margin-top:-38px;
    padding-left:90px;
}
.postal1{
    margin-top:-160px;
    padding-left:80px;
}
.texto1 h1{
    color: rgb(217, 209, 226);
    font-size:20px;
     font-family: "Arial";
     font-weight:100px;
     padding-left:5px;

}
.postal{
    display: grid;
    grid-template-columns:repeat(4, 4fr);
    margin-top:30px;
    padding-left:-300px;
    margin-right:-800px;
    margin-left:-2px;
    grid-row-gap:1em;
    grid-column-gap:1px;
   padding-right:70px;
   
}
.child5{
    background-color:hsl(228, 28%, 20%);
    width:220px;
    height:120px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.child6{
    background-color:hsl(228, 28%, 20%);
    width:220px;
    height:120px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.child7{
    background-color:hsl(228, 28%, 20%);
    width:220px;
    height:120px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.child8{
    background-color:hsl(228, 28%, 20%);
    width:220px;
    height:120px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.child9{
    background-color:hsl(228, 28%, 20%);
    width:220px;
    height:120px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.child10{
    background-color:hsl(228, 28%, 20%);
    width:220px;
    height:120px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.child11{
    background-color:hsl(228, 28%, 20%);
    width:220px;
    height:120px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.child12{
    background-color:hsl(228, 28%, 20%);
    width:220px;
    height:120px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.child5 h1{
    color: white;
    font-size:8px;
    font-family: Arial;
    margin-top:35px;
    padding-left:20px;
}
.child5 p{
    color: white;
    font-size:30px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:20px;
    margin-top:20px;
}
.child5 h2{
    color: rgb(18, 155, 114);
    font-size:10px;
    padding-left: 100px;
    margin-top:30px;
    font-family: Arial;

}
.child5 h3{
    color: rgb(18, 155, 114);
    font-size:8px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:180px;
    margin-top:-50px;

}
.child6 h1{
    color: white;
    font-size:8px;
    font-family: Arial;
    margin-top:35px;
    padding-left:20px;
}
.child6 p{
    color: white;
    font-size:30px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:20px;
    margin-top:20px;
}
.child6 h2{
    color: rgb(18, 155, 114);
    font-size:10px;
    padding-left: 100px;
    margin-top:30px;
    font-family: Arial;

}
.child6 h3{
    color:rgb(223, 39, 39);
    font-size:8px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:180px;
    margin-top:-50px;

}
.child7 h1{
    color: white;
    font-size:8px;
    font-family: Arial;
    margin-top:35px;
    padding-left:20px;
}
.child7 p{
    color: white;
    font-size:30px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:20px;
    margin-top:20px;
}
.child7 h2{
    color: rgb(18, 155, 114);
    font-size:10px;
    padding-left: 100px;
    margin-top:30px;
    font-family: Arial;

}
.child7 h3{
    color: rgb(18, 155, 114);
    font-size:8px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:180px;
    margin-top:-50px;

}
.child8 h1{
    color: white;
    font-size:8px;
    font-family: Arial;
    margin-top:35px;
    padding-left:20px;
}
.child8 p{
    color: white;
    font-size:30px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:20px;
    margin-top:20px;
}
.child8 h2{
    color:white;
    font-size:10px;
    padding-left: 100px;
    margin-top:30px;
    font-family: Arial;

}
.child8 h3{
    color: rgb(18, 155, 114);
    font-size:8px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:170px;
    margin-top:-50px;

}.child9 h1{
    color: white;
    font-size:8px;
    font-family: Arial;
    margin-top:35px;
    padding-left:20px;
}
.child9 p{
    color: white;
    font-size:30px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:20px;
    margin-top:20px;
}
.child9 h2{
    color: rgb(18, 155, 114);
    font-size:10px;
    padding-left: 100px;
    margin-top:30px;
    font-family: Arial;

}
.child9 h3{
    color: rgb(18, 155, 114);
    font-size:8px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:180px;
    margin-top:-50px;

}.child10 h1{
    color: white;
    font-size:8px;
    font-family: Arial;
    margin-top:35px;
    padding-left:20px;
}
.child10 p{
    color: white;
    font-size:30px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:20px;
    margin-top:20px;
}
.child10 h2{
    color:white;
    font-size:10px;
    padding-left: 100px;
    margin-top:30px;
    font-family: Arial;

}
.child10 h3{
    color: rgb(18, 155, 114);
    font-size:8px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:180px;
    margin-top:-50px;

}.child11 h1{
    color: white;
    font-size:8px;
    font-family: Arial;
    margin-top:35px;
    padding-left:20px;
}
.child11 p{
    color: white;
    font-size:30px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:20px;
    margin-top:20px;
}
.child11 h2{
    color: rgb(18, 155, 114);
    font-size:10px;
    padding-left: 100px;
    margin-top:30px;
    font-family: Arial;

}
.child11 h3{
    color: rgb(223, 39, 39);
    font-size:8px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:180px;
    margin-top:-50px;

}
.child12 h1{
    color: white;
    font-size:8px;
    font-family: Arial;
    margin-top:35px;
    padding-left:20px;
}
.child12 p{
    color: white;
    font-size:30px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:20px;
    margin-top:20px;
}
.child12 h2{
    color: rgb(18, 155, 114);
    font-size:10px;
    padding-left: 100px;
    margin-top:30px;
    font-family: Arial;

}
.child12 h3{
    color: rgb(223, 39, 39);
    font-size:8px;
    font-family:Helvetica;
    font-weight:bolder;
    padding-left:180px;
    margin-top:-50px;

}
.card13{
    margin-top:-240px;
    padding-left:175px;
}
.card14{
    margin-top:-240px;
    padding-left:175px;
}
.card15{
    margin-top:-240px;
    padding-left:175px;
}
.card16{
    margin-top:-240px;
    padding-left:175px;
}
.card17{
    margin-top:-125px;
    padding-left:175px;
}
.card18{
    margin-top:-125px;
    padding-left:175px;
}
.card19{
    margin-top:-130px;
    padding-left:175px;
}
.card20{
    margin-top:-130px;
    padding-left:175px;
}
.card21{
    margin-top:-235px;
    padding-left:168px;
}
.card22{
    margin-top:-235px;
    padding-left:168px;
}
.card23{
    margin-top:-235px;
    padding-left:168px;
}
.card24{
    margin-top:-235px;
    padding-left:160px;
}
.card25{
    margin-top:-115px;
    padding-left:168px;
}

.card26{
    margin-top:-115px;
    padding-left:168px;
}

.card27{
    margin-top:-115px;
    padding-left:168px;
}
.card28{
    margin-top:-115px;
    padding-left:168px;

}


